body{
  margin-top:20px;
  background:#eee;
}
.card {
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: 1rem;
}

.country_name{
  font-size: 15px;
  color: blue;
}
.population_text{
  font-size: 12px;
}
.population{
  font-size: 15px;
}
.region{
  color: #8f8f8f;
}
