<div class="container">
  <div class="row">
    <div class="col-md-6 offset-3">
      <div class="card ccard radius-t-0 h-100 mt-5 p-5">
        <div class="position-tl w-102 border-t-3 brc-primary-tp3 ml-n1px mt-n1px"></div>
        <div class="card-header pb-3 brc-secondary-l3">
          <h5 class="card-title mb-2 mb-md-0 text-dark-m3">
            {{title}}
          </h5>
        </div>
        <div class="form-outline mb-2 mt-2">
          <input [(ngModel)]="search" (ngModelChange)="filterCountry(search)" type="search" class="form-control" id="datatable-search-input" placeholder="Search Country...">
        </div>
        <div class="card-body p-0 pt-3">
          <div *ngIf="isLoading" class="col-12  text-center">
            <div class="spinner-border" role="status">
              <span class="sr-only"></span>
            </div>
          </div>
          <ul *ngIf="!isLoading" class="list-group">
            <li *ngFor="let country of filteredCountry" class="list-group-item cursor-point">
              <h4 class="d-flex justify-content-between">
                <span class="country_name">{{country?.name?.common}}</span> <span class="population">Population</span>
              </h4>
              <div class="d-flex justify-content-between population_text">
                <span><b *ngIf="country?.capital?.length">{{country?.capital[0]}}</b> , <span class="region">{{country?.region}}</span></span>
                <span><b>{{country?.population}}</b></span></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
